<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freelance Portfolio</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- cabecera de la página -->
    <header class="header">
      <!-- logotipo/marca -->
        
        </h2><a href="/">freelance portfolio</a><h2>
      
      <a class="header__a--menu" href="#">MENU <i class="fa-solid fa-bars"></i></a>
      <!-- menu de navegación -->
      <nav class="nav--principal">
        <ul>
          <li>
            <a href="#portfolio">portfolio</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#contact">contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- sección principal del sitio -->
    <main class="main">
      <!-- sección banner -->
      <section class="section--banner">
        <!-- imagen de perfil -->
        <img src="/images/profile.png" alt="imagen de perfil" />
        <!-- nombre de perfil -->
        <h1>freelance portfolio</h1>
        <!-- adorno estrella -->
        <div class=¨box--star¨>
          <hr />
          <p><i class="fa-solid fa-star"></i></p>
          <hr />
        </div>
        <!-- descripción corta del perfil -->
        <p>Web Developer - Graphic Artist - User Experience Designer</p>
      </section>

      <!-- sección de imagenes del portfolio -->
      <section class="section--portfolio">
        <h2>portfolio</h2>
        <div class="box--star">
          <hr />
          <p><i class="fa-solid fa-star"></i></p>
          <hr />
        </div>
        <div class="box-images--porfolio"></div>
          <img src="/images/cabin.png" alt="imagen de cabaña" />
          <img src="/images/cake.png" alt="imagen de pastel" />
          <img src="/images/circus.png" alt="imagen de circo" />
          <img src="/images/game.png" alt="imagen de joystick" />
          <img src="/images/safe.png" alt="imagen de caja fuerte" />
          <img src="/images/submarine.png" alt="imagen de submarino" />
        </div>
      </section>

      <!-- seccion acerca de mí -->
      <section class="section--about">
        <h2 id="about">about</h2>
        <div class="box--star">
          <hr />
          </span><i class="fa-solid fa-star"></i></p>
          <hr />
        </div>
        <div class="box-text--about">
          <p>
            Freelance is a free landing page theme created for free use. The
            download includes the complete source files including HTML, CSS, and
            JavaScript as weel as optional SASS stylesheets for easy
            customization
          </p>
          <p>
            Whether you're a student looking to showcase your work, a
            professional looking to attact clients, or a graphic artist looking
            to share your projects, this template is the perferct starting
            point!          
          </p>
        </div>
        <a href="#"><i class="fa-solid fa-download"></i></span>download now </span></a>                                                                                                                                                                                                                     
      </section>

      <!-- seccion del formulario de contacto -->
      <section class="section--contact">
        <h2>contact me</h2>
        <div class="box--star">
          <hr />
          </span><i class="fa-solid fa-star"></i></p>
          <hr />
        </div class= "form__box">
        <form action="">
       </div>
        <label class= "form__box"for="name">Name</label>
        <input type="form__box"type= "text" id="name">
        </div>
      </div class= "form__box">
        <label class= "form__box"for="email">Email Address</label>
        <input class= "form__box"type="email" id="email" name="email">
      </div>
    </div class= "form__box"> 
      <label class= "form__box" for="phone">Phone Number</label>
      <input class= "form__box" type="tel" id="phone" name="phone">
    </div>
    </div>
        <label class= "form__box"for="masage">Message</label>
    </div>
    </div>
        <button type="submit"
        </form>
      </section>
    </main>
    <!-- pie de pagina (footer) -->
     <footer class="footer">
      <div>
        <!-- dirección -->
        <article class="footer__article--address">
            <h3>location</h3>
            <p>2215 Jhon Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </article>
        <!-- redes sociales -->
        <article class="footer__article--redes">
            <h3>around the web</h3>
            <div class="box-redes--footer">
                <a href="" ><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-dribbble"></i></a>
            </div>
        </article>
        <!-- acerca de mi -->
        <article class="footer__article--about"> 
            <h3>about freelancer</h3>
            <p class="fondo_cielo">Freelance is free and open souce landing page theme created to <span>your free personal use</span>.</p>
        </article>
      </div>
     </footer>
  </body>
</html>