@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variables.css');
@import url('./general.css');
@import url('./forms.css');
/* header */
.header {
    background-color: var(--color-azul);
    padding: 30px 10px 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.header h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.header__a-menu {
    display: inline-block;
    margin-top: 15px;
    padding: 10px; 
    background-color: var(--color-verde);
    border-radius: 5px;
    font-size: 0.8rem;
}

.nav--principal {
    display: none;
}

.nav--principal ul {
    list-style: none;
}

/* SECTION--BANNER*/
.section--banner {
    background-color: var(--color-verde);
    color: #ffffff;
    text-align: center;
    padding: 40px 10px 60px;
}

.section--banner h1{
    font-size: 48px;
    font-weight: 800px;
    line-height: 48px;
    text-align: center;
    margin: 40px 0;
}
.section--banner p {
    font-size: 1.35rem;
}

/* SECTOR--PORTOFOLIO*/
.section--portfolio{
    text-align: center;
    padding: 80px 10px;
    color: var(--color-azul);
}


.section--portfolio hr{
    border: 2px solid var(--color-azul);
}


.box-images--porfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

}

.box-images--porfolio img {
    width: 100%; 
}

/* SECTION-- ABOUT*/
.section--about {
    background-color: var(--color-verde);
    color: #ffffff;
    text-align: center;
    padding: 80px 10px;
}
.box-text--about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section--about p {
    text-align: left;
    line-height: 30px;
    font-size: 1.25rem;
}

.section--about a {
    display: inline-block;
    padding: 20px;
    border: solid 2px #ffffff;
    border-radius: 4px;
    margin-top: 30px;
}

.section--about a span {
    margin-left: 10px;
}
/* SECTION--CONTACT*/

.secftion--contact{
    text-align: center;
    padding: 80px 10px;

}
/* FOOTER */
.footer{
    background-color: var(--color-azul);
    color: #ffffff;
    text-align: center;
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
}

.footer h3{
    text-transform: uppercase;
    margin: 30px 0;
    font-weight: 800;
    font-size: 1.4rem;
}

.box-redes--footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0 60px;
}

.footer__article--redes a {
    border-radius: 50%;
    border: solid 1px #ffffff;
    padding: 8px;
    width: 40px;
}

@media (min-width: 768px) 

        .header {
        padding: 30px;
        justify-content: space-between;
        align-items: center;
    }
.box-images--porfolio{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}

.box-images--porfolio img {
    width: 48.5%;
}
.box-text--about {
    padding: 0 30px;
}
@media(min-width: 768px ) {
    
}
    .box-images--porfolio {
        flex-direction: row;
        gap: 0px;
        justify-content:  space-between;
        padding: 0 30px;
    
    }

    .box-images--porfolio img{
        width: 48,5%;
    }

    .section--about {
        padding: 80px 40px;
    }

    .footer{
        flex-direction: row;
}

@media (min-width: 1024px){
}
    .box-images--porfolio{
    width: 32%;
}

.footer article{
    width: ;
}
.box-text--about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50vw;
    margin: 0 auto;
}

.secftion--contact{
    padding: 80px 40px ;
}